rvm:
  - 1.8.7
  - 1.9.3
  - 2.1.10
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - jruby
branches:
  only:
    - master
cache: bundler
sudo: false
matrix:
  allow_failures:
    - rvm: 1.8.7
    - rvm: 1.9.3
    - rvm: 2.1.10
    - rvm: jruby