rvm:
  - 1.9.3
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.9
  - 2.5.7
  - 2.6.5
  - 2.7.0-rc2
  - jruby
gemfile:
  - gemfiles/rack_1.gemfile
  - gemfiles/rack_2.gemfile
matrix:
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/rack_2.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/rack_2.gemfile
    - rvm: jruby
      gemfile: gemfiles/rack_2.gemfile
cache: bundler
matrix:
  allow_failures:
    - rvm: 1.8.7
    - rvm: 1.9.3
    - rvm: 2.1.10
